.content-login {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 70vh 30vh;
  grid-template-areas:
    "aside main"
    "aside footer";
  font-family: "Open Sans", sans-serif;
}
.content-login > aside {
  grid-area: aside;
  background: url("../../assets/bg-login.jpg");
  background-size: cover;
  background-position: center center;
}
.content-login > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
}

.content-login > main > h1 {
  font-weight: 400;
  font-size: 20px;
  margin-top: 50px;
}

.content-login > main > img {
  width: 5vw;
}

.content-login > main > .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 30px;
}

.content-login > main > .form > .form__input {
  border: 1px solid #707070;
  border-radius: 50px;
  outline: none;
  padding: 10px 25px;
  margin: 5px;
}

button {
  background-color: #a942dd;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  color: white;
  cursor: pointer;
  outline: none;
}

.content-login > footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}
